*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto Mono", system-ui;
    
}
/* global css */
:root{
    --primary-text-color: #000000;
    --secondary-text-color: #BDBDBD;
    --default-text-color: #333333;
    --placeholder-text-color:#8D8D8D;

}
/* global css */
/* background color global css */
:root{
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2C2C2C;
    --placeholder-bg-color:#F3F3F3;
}
/* cetificate css start */

#link4 {
    /* text-decoration-line: overline !important; */
    text-decoration-line: overline underline !important;
    text-underline-offset: 3px;
}

.certificate_img1{
    width: 100%;
    height: 100%;
}

.certificate_sec{
    margin-left: 11%;
    margin-right: 10%;
}
.certificate_sec h6{
    font-weight: 300;
    font-size: 64px;
    color: var(--secondary-text-color);
}
.certificate_sec h5{
    font-weight: 700;
    font-size: 64px;
    color: var(--default-text-color);
}

/* ------------ */

.gallery_arrow{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3%;
    padding-top: 3%;
    padding-bottom: 1%;
}
.arrow_count{
    margin-right: 4%;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    color:var(--secondary-text-color);
}
.arrow_count span{
    color:var(--secondary-text-color); 
    margin-left: 35%;
    margin-right: 35%;  
}
.arrow_count p{
    /* display: flex; */
    align-items: center;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 24px;

}
.arrow{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8%;
}
.arrow span{
    margin-left: 3%;
    /* margin-right: 10%; */
}

.arrow_btn{
    width: 53px !important;
    border: 1px solid var(--secondary-text-color) !important;
}
.arrow_btn i{
    display: flex;
    width: 53px !important;
    height: 53px;
    border: 1px solid #F2F2F2;
}
.arrow_left{
    background: white;
    color:var(--default-text-color);
    align-items: center;
    justify-content: center;
}
.gallery_arrow{
    margin-right: 3%;
}


.carousel-control-next, .carousel-control-prev {
    position: relative !important;
    top: 0;
    bottom: 0;
    
}
@media (max-width: 768px) { 
    .arrow_count {
        margin-right: 10%;
      }
   } 
   @media (max-width: 576px) { 
    .arrow_count {
        margin-right: 14%;
      }
   }

   @media (max-width: 576px)  { 
    .certificate_sec h6{
        font-size: 40px;
    }
    .certificate_sec h5{
        font-size: 40px;
    }
 }
 