*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto Mono", system-ui;
    
}
/* global css */
:root{
    --primary-text-color: #000000;
    --secondary-text-color: #BDBDBD;
    --default-text-color: #333333;
    --placeholder-text-color:#8D8D8D;

}
/* global css */
/* background color global css */
:root{
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2C2C2C;
    --placeholder-bg-color:#F3F3F3;
}

/* parking css start */
.parking_sec{
    margin-left: 11%;
    margin-right: 10%;
    padding-top: 2%;
    border: none !important;
}
.parking_sec h6{
    font-weight: 300;
    font-size: 64px;
    color: var(--secondary-text-color);
}
.parking_sec h5{
    font-weight: 700;
    font-size: 64px;
    color: var(--default-text-color);
}
.parking_sec p{
    font-weight: 300;
    font-size: 16px;
    color: var(--primary-text-color);
    /* margin-left: 7%; */
    margin-top: 2%;
}
.parking_img1{
    width: 100%;
    height: 100%;
}
.parking_img2{
    padding-top: 2%;
    padding-bottom: 2%;
}